---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`All Posts | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <style>
      main {
        max-width: 960px;
        margin: 0 auto;
        padding: 2rem 1rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        width: calc(50% - 1rem);
      }

      li.featured {
        width: 100%;
        text-align: center;
      }

      li.featured img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        margin-bottom: 1rem;
      }

      li img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 0.5rem;
      }

      a {
        text-decoration: none;
        color: inherit;
        display: block;
      }

      .title {
        margin: 0.25rem 0 0.2rem;
        font-size: 1.25rem;
        color: rgb(var(--black));
      }

      .date {
        margin: 0;
        font-size: 0.9rem;
        color: rgb(var(--gray));
      }

      a:hover .title,
      a:hover .date {
        color: rgb(var(--accent));
      }

      a:hover img {
        box-shadow: var(--box-shadow);
      }

      @media (max-width: 720px) {
        li {
          width: 100%;
        }

        li.featured .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1 style="text-align:center; font-size:2rem; margin-bottom:2rem;">🧠 All Blog Posts</h1>
      <ul>
        {posts.map((post, index) => (
          <li class={index === 0 ? 'featured' : ''}>
            <a href={`/blog/${post.id}/`}>
              {post.data.heroImage && (
                <Image width={720} height={360} src={post.data.heroImage} alt={post.data.title} />
              )}
              <h4 class="title">{post.data.title}</h4>
              <p class="date"><FormattedDate date={post.data.pubDate} /></p>
            </a>
          </li>
        ))}
      </ul>
    </main>
    <Footer />
  </body>
</html>
