---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<style>
  .grid-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .post-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .post-item {
    width: calc(50% - 1rem);
  }

  .post-item img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 0.5rem;
  }

  .post-item a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .post-title {
    font-size: 1.25rem;
    margin: 0.25rem 0;
    color: rgb(var(--black));
  }

  .post-date {
    font-size: 0.9rem;
    color: rgb(var(--gray));
    margin: 0;
  }

  .post-item a:hover .post-title,
  .post-item a:hover .post-date {
    color: rgb(var(--accent));
  }

  .post-item a:hover img {
    box-shadow: var(--box-shadow);
  }

  @media (max-width: 720px) {
    .post-item {
      width: 100%;
    }
  }
</style>

<section class="grid-container">
  <ul class="post-grid">
    {
      posts.map(post => (
        <li class="post-item">
          <a href={`/blog/${post.id}/`}>
            {post.data.heroImage && (
              <Image width={720} height={360} src={post.data.heroImage} alt={post.data.title} />
            )}
            <h4 class="post-title">{post.data.title}</h4>
            <p class="post-date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
